<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-migrate/1.4.1/jquery-migrate.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap-table/1.11.1/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap-table/1.11.1/local/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-treegrid/0.2.0/js/jquery.treegrid.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-validate/1.15.1/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-validate/1.15.1/additional-methods.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery-validate/1.15.1/locallization/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/jquery.form/4.2.0/jquery.form.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/layer/3.0.1/layer.js}"></script>
<script type="text/javascript" th:src="@{/webjars/adminlte/2.3.7/dist/js/app.min.js}"></script>

<script type="text/javascript" src="/js/common.js"></script>
