<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
  <h1>角色管理</h1>
  <small>角色列表</small>
</section>
<section class="content table-content">
  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <table id="dataGrid"></table>
</section>
<div id="toolbar">
  <form role="form" id="searchForm" class="form-inline">
    <div>
      <div class="input-group">
        <span class="input-group-addon">角色名</span>
        <input type="text" class="form-control" name="name">
      </div>
    </div>
    <div>
      <button type="button" id="searchBtn" class="btn btn-primary">查询</button>
      <button type="reset" class="btn btn-warning">清空</button>
    </div>
  </form>
  <a href="/console/role/detail/0" class="btn btn-primary">添加角色</a>
</div>
<#include "../common/footer.html"/>
<#include "../common/bootstrap-table.html"/>

<script type="text/javascript">

    /**
     * 表单初始化
     */
    $(function () {
        initDataGrid('/console/role/list', [
            {
                title: "序号", field: "id", formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize = $table.bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {title: "角色名称", field: "name"},
            {title: "启用状态", field: "enable", formatter: getState},
            {title: "创建时间", field: "createTime"},
            {title: "更新日期", field: "updateTime"},
            {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
        ]);
    });

    function getState(value, row, index) {
        if (row.enable === true) {
            return "启用"
        } else {
            return "禁用";
        }
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="grant" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-edit"></i>授权',
            '</a>  ',
            '<a href="/console/role/detail/' + row.id + '" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.id, '/console/role/delete', 'id');
        },
        'click .grant': function (e, value, row, index) {
            layer.open({
                type: 2,
                title: '角色授权',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '600px'],
                content: '/console/role/grant/?roleId=' + row.id
            });
        }
    };

</script>
</body>
</html>

